body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    height: 100%;
}

.split-slider {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slider-item {
    flex: 1;
    position: relative;
    transition: flex 0.5s ease-in-out;
}

.left {
    background-color: #000;
}

.photo-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); /* 3-D shadow effect */
}

.photo-slider img.active {
    opacity: 1;
}

.right {
    background-color: rgb(231, 225, 217);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.slider-item .content {
    padding: 20px;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider-item .content.active {
    opacity: 1;
}

.slider-item h2 {
    font-size: 3em;
    margin: 0;
    color: #444;
}

.slider-item p {
    font-size: 1.2em;
    max-width: 400px;
    color: #666;
}
